@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600')
    
$yellow: #FFDE00
$white: #FFFFFF
$black: #000000
$placeholder-grey: #4A4A4A

$main-font: 'Roboto', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif