@import '../globals';
  
.landing-header
  margin: 20px
  display: flex
  justify-content: space-between
  align-items: center

  .logo-wrapper
    font-size: 22px
    cursor: pointer

  .nav-wrapper
    display: flex
    flex-direction: row
    align-items: center

    .nav-item
      font-size: 14px
      margin-left: 20px
      cursor: pointer
    
    .about-wrapper
      display: none

    .nav-button
      width: 80px
      font-size: 14px
      height: 40px

  h4
    font-size: 36px
    font-weight: 400
    margin-top: 20px