# RUBY/RAILS

*.rbc
capybara-*.html
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

# Ignore bundler config.
/.bundle
/vendor/bundle

/config/database.*.yml

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Ignore pow environment settings
.powenv

.byebug_history

/config/database.yml

# Ignore master key for decrypting credentials and more.
/config/master.key

/config/credentials.yml.enc